{% extends 'base.html' %}

{% block content %}
<form action="{% url 'app:update' review.pk %}">
  <div class="mb-3">
    <label for="title" class="form-label">제목</label>
    <input type="text" class="form-control" id="title" name="title" value="{{ review.title }}" />
  </div>
  <div class="mb-3">
    <label for="content" class="form-label">내용</label>
    <textarea class="form-control" id="content" rows="5" name="content">{{ review.content }}</textarea>
  </div>
  <div class="d-grid gap-2">
    <button class="btn btn-primary" type="submit">리뷰 수정</button>
  </div>
</form>
{% endblock %}